a {
text-decoration:none;
}

a:link {
color:#15c;
}

a:visited {
color:#61c;
}

a:active {
color:#d14836;
}

a:hover {
text-decoration:underline;
}

::-webkit-scrollbar {
height:16px;
overflow:visible;
width:16px;
}

::-webkit-scrollbar-button {
height:0;
width:0;
}

::-webkit-scrollbar-track {
background-clip:padding-box;
border:solid transparent;
border-width:0 0 0 4px;
}

::-webkit-scrollbar-track:horizontal {
border-width:4px 0 0;
}

::-webkit-scrollbar-track:hover {
background-color:rgba(0,0,0,.05);
box-shadow:inset 1px 0 0 rgba(0,0,0,.1);
}

::-webkit-scrollbar-track:horizontal:hover {
box-shadow:inset 0 1px 0 rgba(0,0,0,.1);
}

::-webkit-scrollbar-track:active {
background-color:rgba(0,0,0,.05);
box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07);
}

::-webkit-scrollbar-track:horizontal:active {
box-shadow:inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07);
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:hover {
background-color:rgba(255,255,255,.1);
box-shadow:inset 1px 0 0 rgba(255,255,255,.2);
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:horizontal:hover {
box-shadow:inset 0 1px 0 rgba(255,255,255,.2);
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:active {
background-color:rgba(255,255,255,.1);
box-shadow:inset 1px 0 0 rgba(255,255,255,.25),inset -1px 0 0 rgba(255,255,255,.15);
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:horizontal:active {
box-shadow:inset 0 1px 0 rgba(255,255,255,.25),inset 0 -1px 0 rgba(255,255,255,.15);
}

::-webkit-scrollbar-thumb {
background-color:rgba(0,0,0,.2);
background-clip:padding-box;
border:solid transparent;
min-height:28px;
box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
border-width:1px 1px 1px 6px;
padding:100px 0 0;
}

::-webkit-scrollbar-thumb:horizontal {
box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.07);
border-width:6px 1px 1px;
padding:0 0 0 100px;
}

::-webkit-scrollbar-thumb:hover {
background-color:rgba(0,0,0,.4);
box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);
}

::-webkit-scrollbar-thumb:active {
background-color:rgba(0,0,0,0.5);
box-shadow:inset 1px 1px 3px rgba(0,0,0,0.35);
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb {
background-color:rgba(255,255,255,.3);
box-shadow:inset 1px 1px 0 rgba(255,255,255,.15),inset 0 -1px 0 rgba(255,255,255,.1);
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb:horizontal {
box-shadow:inset 1px 1px 0 rgba(255,255,255,.15),inset -1px 0 0 rgba(255,255,255,.1);
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb:hover {
background-color:rgba(255,255,255,.6);
box-shadow:inset 1px 1px 1px rgba(255,255,255,.37);
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb:active {
background-color:rgba(255,255,255,.75);
box-shadow:inset 1px 1px 3px rgba(255,255,255,.5);
}

.jfk-scrollbar-borderless::-webkit-scrollbar-track:hover {
background-color:rgba(0,0,0,.035);
box-shadow:inset 1px 1px 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
}

.jfk-scrollbar-borderless.jfk-scrollbar-dark::-webkit-scrollbar-track:hover {
background-color:rgba(255,255,255,.07);
box-shadow:inset 1px 1px 0 rgba(255,255,255,.25),inset -1px -1px 0 rgba(255,255,255,.15);
}

::-webkit-scrollbar-corner {
background:transparent;
}

body::-webkit-scrollbar-track-piece {
background-clip:padding-box;
background-color:#f5f5f5;
border:solid #fff;
box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07);
border-width:0 0 0 3px;
}

body::-webkit-scrollbar-track-piece:horizontal {
box-shadow:inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07);
border-width:3px 0 0;
}

body::-webkit-scrollbar-thumb {
border-width:1px 1px 1px 5px;
}

body::-webkit-scrollbar-thumb:horizontal {
border-width:5px 1px 1px;
}

body::-webkit-scrollbar-corner {
background-clip:padding-box;
background-color:#f5f5f5;
border:solid #fff;
box-shadow:inset 1px 1px 0 rgba(0,0,0,.14);
border-width:3px 0 0 3px;
}

body {
font-family:arial,sans,sans-serif;
margin:0;
}

body,body td,.tblGenFixed,.tblGeneric {
font-size:13px;
}

.dn {
display:none;
}

.tblGenFixed td.comment {
background-image:url(https://ssl.gstatic.com/docs/spreadsheets/comment.gif);
background-position:top right;
background-repeat:no-repeat;
}

.tblGenFixed td {
overflow:hidden;
white-space:normal;
letter-spacing:0;
word-spacing:0;
background-color:#fff;
z-index:1;
border:1px #ccc solid;
border-top:0;
border-left:0;
vertical-align:bottom;
padding:0 3px;
}

.tblGenFixed td.hd {
border-right:0;
background-color:#c8c8c8;
padding:0;
}

.tblGenFixed tr.rShim td,.tblGenFixed td.rShim {
border-bottom:0;
padding:0;
}

.divFrozRowHead .tblGenFixed td.hd,.divRowHead .tblGenFixed td.hd {
background-color:#e8eef7;
width:35px;
text-align:center;
vertical-align:middle;
font-size:8pt;
color:#333;
border-color:#c8c8c8;
border-style:solid;
border-width:0 1px 1px 0;
}

#tblMain td.hd p,.colHeadTable td.hd p {
width:0;
overflow:hidden;
font-size:0;
margin:0;
}

td.rShim {
width:35px;
height:0;
border-right:1px #c8c8c8 solid;
}

.divColHead .tblGenFixed tr.hd td,.tblGenFixed .sortBar {
background-color:#e8eef7;
text-align:center;
vertical-align:middle;
font-size:8pt;
color:#333;
border-color:#c8c8c8;
border-style:solid;
border-width:0 1px 1px 0;
}

.divColHead .tblGenFixed tr.hd td {
height:20px;
border-bottom:1px solid #9fc2fd;
}

.divColHead .tblGenFixed tr.hd td.on,.divRowHead .tblGenFixed tr.on td.hd {
background-color:#c8c8c8;
}

.divColHead .tblGenFixed tr.hd td.first {
border-right:none;
}

.tblGenFixed .sortBar {
background-image:url(https://ssl.gstatic.com/docs/spreadsheets/gradient-12.gif);
background-repeat:repeat-x;
height:12px;
padding-right:5px;
padding-left:5px;
text-align:right;
z-index:1;
overflow:hidden;
white-space:nowrap;
}

.FF .sortBar {
height:13px;
}

.tblGenFixed td.headerEnd {
background-color:#e8eef7;
border:none;
}

.IE .divRowHead .tblGenFixed tr.equalize td {
overflow:visible!important;
white-space:normal;
text-indent:0;
padding:0 3px;
}

.FF .divColHead .tblGenFixed td.hd {
padding-bottom:1px;
}

.FF .divColHead .tblGenFixed tr.hd td.hd,.FF .divRowHead .tblGenFixed td.hd {
padding-bottom:0;
}

.tblGenFixed {
table-layout:fixed;
border-collapse:collapse;
border-spacing:0;
width:0;
border-bottom:1px #ccc solid;
border-style:none;
}

.disclaimer {
padding-left:12px;
font-size:11px;
background-color:#efefef;
color:#676767;
border-left:0 none;
border-bottom:1px solid silver;
border-right:0 none;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}

.disclaimerTop {
padding-top:6px;
padding-bottom:6px;
padding-left:6px;
border-top:1px solid silver;
}

.disclaimer a {
color:#77c;
padding-left:3px;
}

td.num {
text-align:right;
}

.waffle-image-div {
position:relative;
}

.waffle-image-cell {
display:block;
position:absolute;
left:-3px;
}

.jfk-scrollbar-borderless::-webkit-scrollbar-track,.jfk-scrollbar-borderless::-webkit-scrollbar-thumb {
border-width:0 1px 0 6px;
}

.jfk-scrollbar-borderless::-webkit-scrollbar-track:horizontal,.jfk-scrollbar-borderless::-webkit-scrollbar-thumb:horizontal {
border-width:6px 0 1px;
}
